@font-face {
    font-family: "Alagard";
    src: url(assets/font/alagard.woff) format('woff');
}

.fontPreload1{
    position:absolute;
    left:-100px;
}
.fontPreload2{
    position:absolute;
    left:-100px;
}